doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title KKTC Hava Durumu Api
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
  link(rel='stylesheet' href='assets/fonts/ionicons.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css')
  link(rel='stylesheet' href='assets/css/styles.min.css')
.highlight-clean
  .container
    .intro
      h2.text-center Api
      p.text-center Uyarı ! Kıbrıs'ta ölçülen son durumlar UTC (GMT) zaman dilimine göre yayınlanmaktadır. Geçerli yerel saat uygulamamız şu anda, söz konusu zamandan 3 saat ileridedir.
    .buttons
      a.btn.btn-primary(role='button' href='/api/ercan') &Ouml;rnek
.table-responsive
  table.table
    thead
      tr
        th &Scedil;ehirler
        th Kodlar&imath;
    tbody
      tr
        td &Idot;skele
        td api/iskele
      tr
        td Ercan
        td api/ercan
      tr
        td Larnaka
        td api/larnaka
      tr
        td Limasol
        td api/limasol
      tr
        td Baf
        td api/baf
      tr
        td Gazima&gbreve;usa
        td api/gazimagusa
      tr
        td G&uuml;zelyurt
        td api/guzelyurt
      tr
        td Lefko&scedil;a
        td api/lefkosa
      tr
        td Lefke
        td api/lefke
      tr
        td Akdeniz
        td api/akdeniz
      tr
        td Ye&scedil;il&imath;rmak
        td api/yesilirmak
      tr
        td Girne
        td api/girne
      tr
        td Ge&ccedil;itkale
        td api/gecitkale
      tr
        td Dipkarpaz
        td api/dipkarpaz
      tr
        td Yeni Erenk&ouml;y
        td api/yenierenkoy
      tr
        td Alsancak
        td api/alsancak
.article-list
  .container
    .intro
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js')
script(src='assets/js/script.min.js')
